{
  "presets": [["extendscript"], ["@babel/preset-env", { "debug": true }]],
  "plugins": [
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    "transform-es5-property-mutators",
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
